* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ===============================
  Universal Styling
================================== */
h1,
h2,
h3,
h4 {
  font-family: "Kanit", sans-serif;
}

h1 {
    font-size: 2.4em;
}

h1,
h2,
h4 {
  margin: 40px 15px;
  color: #662190;
}


h3 {
  color: #3499cc;
  margin: 0 10px;
}

h2 {
  text-align: center;
  line-height: 1.3;
  font-size: 1.8em;
}

p,
li {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 5px 15px;
}

img {
  max-width: 100%;
  width: 100%;
}

/*=======================================

HOME PAGE - Header

========================================*/


header {
  background-color: #662190;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
}

.logo-container img {
  max-width: 70px;
  margin-left: 20px;
}

.logo-container {
  max-width: 40%;
}

.logo-container,
.hamburger {
  display: inline-block;
}

.hamburger a {
  color: #3499cc;
  font-size: 2.4em;
  margin-right: 30px;
}

.top-section {
  position: relative;
}

.top-nav {
  position: absolute;
  top: 88px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 140px;
  width: 100%;
  background: #662190cc;
  text-align: center;
}

.top-nav ul,
.bottom-nav ul {
  list-style: none;
  margin: 20px;
}

.top-nav > ul > li {
  display: block;
  position: relative;
  margin: 5px 25px;
  font-weight: 400;
}

ul li a:hover {
  border-bottom: 2px solid #fcf8ee;
  transition: 0.3s;
}

ul li li a:hover {
  border-bottom: 2px solid #ff7b53;
}

.top-nav {
  display: none;
}

/*  CHANGE SIZE!!!!
i {
    max-width: 250px;
} */

.top-section img {
  max-width: 100%;
}

/* .top-section {
  position: relative;
} */

.hello {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    text-shadow: 9px 9px 10px #837373;
    position: absolute;
    bottom: 0;
}

/*=======================================

HOME PAGE - Topics Section

========================================*/

.topics-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.topics {
  background-color: #662190;
  border-radius: 50%;
  text-align: center;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.topics p {
  color: white;
  max-width: 220px;
}

/*=======================================

HOME PAGE - Services Section

========================================*/
.lesson-type h4 {
  margin-bottom: 5px;
}

.lesson-type {

}



.contact-me {
  margin: 60px 5px;
}


/*=======================================

About Page

========================================*/

.about-me {
    margin-bottom: 20px;
}

.about-me img {
  max-width: 370px;
  border-radius: 6px;
}

.about-me li::before {
  display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #662190;
}

.about-me h1 {
    text-align: center;
    margin: 50px 0 30px 0;
}

.about-box {
  max-width: 900px;
  background-color: aliceblue;
}

.personal,
.philosophy {
  margin: 30px;
  padding: 30px;
}

.background {
  padding: 20px 30px;
}

.background h2 {
  padding: 20px 20px 40px 20px;
}

.about-me p {
  margin-top: 20px;
}

.quote {
    max-width: 280px;
    text-align: center;
    margin: 10px auto;
    font-family: 'Montserrat';
    font-size: 1.2em;
}

.about-me li {
  padding: 4px;
  margin: 0 30px;
}

/*=======================================

Contact Page

========================================*/

.contact-page {
  max-width: 80%;
  margin: 0 auto;
}

.contact-page h1 {
  text-align: center;
}

.contact-page img {
  max-width: 400px;
}



.contact-info {
  margin: 60px 10px 40px 20px;
}

/*=======================================

Footer

========================================*/

footer {
  background-color: #662190;
  color: #3499cc;
}

.bottom-nav {
  padding: 30px 10px;
}

.bottom-nav li {
  text-decoration: none;
  font-weight: 400;
}

.bottom-nav a {
  color: #3499cc;
}

/*=======================================

Media Queries

========================================*/

@media screen and (min-width: 767px) {
  header {
    position: relative;
  }

  .top-nav {
    position: static;
    height: 100%;
    width: auto;
    display: block;
    background-color: ;
  }

  nav ul {
    margin: 0;
  }

  .top-nav > ul > li {
    display: inline-block;
    position: relative;
    margin: 0 25px;
  }

  .top-nav ul li a {
    color: #3499cc;
    display: inline-block;
  }

  .hamburger {
    display: none;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  .topics {
    background-color: #662190;
    border-radius: 50%;
    text-align: center;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
  }

/* ======= Home styling ============*/

.lesson-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #59cfda;
  margin-bottom: 20px;
}

.lesson {
  display: inherit;
}

.middle {
  flex-direction: row;
}

.lesson-middle {
  margin-right: 10px;
}

.lesson-type {
  max-width: 45%;
  margin-left: 8px;
}

.lesson img {
  margin: 0;
  padding: 0;
}

/* ======== About styling ============ */

.about-me {
    max-width: 70%;
    margin: 10px auto;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-box {
  max-width: 900px;
  background-color: aliceblue;
}

.quote {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

.quote-author {
    text-align: right;
}

.about-flex {
    display: flex;
    justify-content: center;
}

.background {
    flex-direction: row-reverse;
}

/* ========= Contact Page styling ============== */

.contact-wrapper {
  display: flex;
  background-color: aliceblue;
  padding: 60px;
}

/* ========== footer styling ================== */
    
.bottom-nav li {
    display: inline-block;
    text-align: center;
}

footer {
    margin-top: 50px;
}
}
